version: "3"
services:
  mysqldb:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test_db
    volumes:
      - ./docker/mysql/db:/docker-entrypoint-initdb.d
    ports:
      - 40740:3306

  mongodb:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./docker/mongo/northwind:/db
      - ./docker/mongo/northwind:/docker-entrypoint-initdb.d
    ports:
      - 27017:27017
